<div class="row">
    <div class="col">
      <mat-card class="shadow-lg">
        <div class="row">
          <div class="col">
            <!-- TODO: Change headline -->
            <h2>User Management</h2>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <div class="row  align-items-center">
            <div class="col text-right">
              <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
              </mat-form-field>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" matSort>
  
            <!-- TODO: Change matColumnDef and element.X -->
            <ng-container matColumnDef="name" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.firstname }} {{element.lastname}}</td>
            </ng-container>
  
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
              <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
            </ng-container>
  
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail Address</th>
              <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>
  
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="addrole(element)" [disabled]="admin">
                  <mat-icon>person_add</mat-icon>
                </button>
                <button mat-icon-button (click)="ban(element)">
                  <mat-icon>block</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="6">No entries</td>
            </tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  