<h1 mat-dialog-title>Profile</h1>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <div class="row">
    <div class="col">
      <h3>General</h3>
      <table class="table">
        <tr>
          <td>Firstname</td>
          <td>{{user.firstname}}</td>
        </tr>
        <tr>
          <td>Lastname</td>
          <td>{{user.lastname}}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{user.userName}}</td>
        </tr>
        <tr>
          <td>E-Mail Adresse</td>
          <td>{{user.email}}</td>
        </tr>
      </table>
    </div>
  </div> <br>
  <form id="userForm" #userForm="ngForm">
    <h3>New Passwort</h3>

    <mat-form-field appearance="outline">
      <mat-label >Old Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="oldPassword" required #password="ngModel" />
      <mat-error *ngIf="(password.dirty || password.touched) && password.errors && password.errors.required">
        Required field
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" #password="ngModel"
        [(ngModel)]="user.password" required />
      <mat-error *ngIf="(password.dirty || password.touched) && password.errors && password.errors.required">
        Required field
      </mat-error>
      <button mat-icon-button type="button" (click)="hidePassword = !hidePassword" matSuffix>
        <mat-icon>{{ hidePassword ? "lock" : "lock_open" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" #password="ngModel"
        [(ngModel)]="passwordRepeat" required />
      <mat-error *ngIf="(password.dirty || password.touched) && password.errors && password.errors.required">
        Required field
      </mat-error>
      <button mat-icon-button type="button" (click)="hidePassword = !hidePassword" matSuffix>
        <mat-icon>{{ hidePassword ? "lock" : "lock_open" }}</mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!userForm.form.valid">
    Save
  </button>
</div>
