<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [opened]="isSmallScreen" [mode]="isSmallScreen ? 'side' : 'over'" #drawer class="sidenav shadow-lg"
      fixedInViewport attr.role="navigation">
      <mat-toolbar style="background-color: white;">
        <span class="toolbar-header"><b>Auction</b>App</span>
        <span class="toolbar-spacer"></span>
  
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <div *ngFor="let item of main">
          <div *ngIf="!item.disabled">
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="closeNav(snav)">
              <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
              <div mat-line>{{item.displayName}}</div>
              <span *ngIf="item.children && item.children.length">
                <mat-icon [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
                  expand_more
                </mat-icon>
              </span>
            </a>
            <div *ngIf="item.expanded">
              <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route" class="subnav"
                (click)="closeNav(snav)">
                <mat-icon mat-list-icon>{{child.iconName}}</mat-icon>
                <div mat-line>{{child.displayName}}</div>
              </a>
            </div>
          </div>
        </div>
        <div *ngFor="let item of components">
          <div *ngIf="!item.disabled">
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="closeNav(snav)">
              <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
              <div mat-line>{{item.displayName}}</div>
              <span *ngIf="item.children && item.children.length">
                <mat-icon [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
                  expand_more
                </mat-icon>
              </span>
            </a>
            <div *ngIf="item.expanded">
              <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route" class="subnav"
                (click)="closeNav(snav)">
                <mat-icon mat-list-icon>{{child.iconName}}</mat-icon>
                <div mat-line>{{child.displayName}}</div>
              </a>
            </div>
          </div>
        </div>
        <div *ngFor="let item of settings" class="bottomMenu">
          <mat-divider></mat-divider>
          <div *ngIf="!item.disabled">
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="closeNav(snav)">
              <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
              <div mat-line>{{item.displayName}}</div>
              <span *ngIf="item.children && item.children.length">
                <mat-icon [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
                  expand_more
                </mat-icon>
              </span>
            </a>
            <div *ngIf="item.expanded">
              <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route" class="subnav"
                (click)="closeNav(snav)">
                <mat-icon mat-list-icon>{{child.iconName}}</mat-icon>
                <div mat-line>{{child.displayName}}</div>
              </a>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="shadow-lg">
        <button type="button" aria-label="Toggle sidenav" align="end" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <button mat-button style="float: right;" (click)="editProfile()">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-button style="float: right;" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
  
      </mat-toolbar>
  
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  