<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <!-- TODO: Change formName -->
  <form id="usersForm" #usersForm="ngForm">
    <!-- TODO: Change ngModel and mat-label and errors -->
    

    <mat-card-content appearance="outline" align="center">
        <img src= {{imagesLinks[0]}} width=50%>
    </mat-card-content>
    <br><br>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!usersForm.form.valid">
    Approve
  </button>
</div>
<br><br>
