<h1 mat-dialog-title *ngIf="!isEdit">Create user</h1>
<h1 mat-dialog-title *ngIf="isEdit">Edit user</h1>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <!-- TODO: Change formName -->
  <form id="usersForm" #usersForm="ngForm">
    <!-- TODO: Change ngModel and mat-label and errors -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="userName" [(ngModel)]="user.userName" required #userName="ngModel" />
      <mat-error *ngIf="(userName.dirty || userName.touched) && userName.errors && userName.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput type="text" name="firstname" [(ngModel)]="user.firstname" required #firstname="ngModel" />
      <mat-error *ngIf="(firstname.dirty || firstname.touched) && firstname.errors && firstname.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput type="text" name="lastname" [(ngModel)]="user.lastname" required #lastname="ngModel" />
      <mat-error *ngIf="(lastname.dirty || lastname.touched) && lastname.errors && lastname.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-Mail Address</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="user.email" required #email="ngModel" />
      <mat-error *ngIf="(email.dirty || email.touched) && email.errors && email.errors.required">
        Required field
      </mat-error>
      <mat-error
        *ngIf="(email.dirty || email.touched) && email.errors && email.errors.invalid && email.errors.required">
        Invalid mail
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
        [required]="!isEdit" />
      <mat-error [hidden]="password.valid || password.pristine || isEdit">Required field</mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!usersForm.form.valid">
    Save
  </button>
</div>
