<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <!-- TODO: Change formName -->
  <form id="usersForm" #usersForm="ngForm">
    <br>
    <mat-card>
        Actual roles: {{roles}}
    </mat-card>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>New Role</mat-label>
      <input matInput type="text" name="role" [(ngModel)]="role" required #roleEv="ngModel" />
      <mat-error *ngIf="(roleEv.dirty || roleEv.touched) && roleEv.errors && roleEv.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!usersForm.form.valid">
    Save
  </button>
</div>
