<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <!-- TODO: Change formName -->
  <form id="usersForm" #usersForm="ngForm">
    <!-- TODO: Change ngModel and mat-label and errors -->

      <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          slideImage="1">
      </ng-image-slider>


    <br><br>

    <mat-form-field appearance="outline">
      <mat-label >Bid price</mat-label>
      <input matInput type="number" name="bidPrice" [(ngModel)]="bidReq.bidPrice" required #bidPrice="ngModel" />
      <mat-error *ngIf="(bidPrice.dirty || bidPrice.touched) && bidPrice.errors && bidPrice.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!usersForm.form.valid">
    Bid
  </button>
</div>
<br><br>
