<h1 mat-dialog-title *ngIf="!isEdit">Create item</h1>
<h1 mat-dialog-title *ngIf="isEdit">Edit item</h1>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
  <!-- TODO: Change formName -->
  <form id="usersForm" #usersForm="ngForm">
    <!-- TODO: Change ngModel and mat-label and errors -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput type="text" name="desc" [(ngModel)]="item.desc" required #desc="ngModel" />
      <mat-error *ngIf="(desc.dirty || desc.touched) && desc.errors && desc.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="item.name" required #name="ngModel" />
      <mat-error *ngIf="(name.dirty || name.touched) && name.errors && name.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" name="price" [(ngModel)]="item.price" required #price="ngModel" />
      <mat-error *ngIf="(price.dirty || price.touched) && price.errors && price.errors.required">
        Required field
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>End Time(h)</mat-label>
        <input matInput type="number" name="endTime" [(ngModel)]="item.endTime" required #endTime="ngModel" />
        <mat-error *ngIf="(endTime.dirty || endTime.touched) && endTime.errors && endTime.errors.required">
          Required field
        </mat-error>
    </mat-form-field>

    <!-- <form [formGroup]="PictureForm" (ngSubmit)="onSubmit(PictureForm.value)">
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onSelectFile($event)" #fileInput type="file" id="file">
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Picture description</mat-label>
            <input matInput type="text" name="description" [(ngModel)]="picture.description" required #description="ngModel" />
            <mat-error *ngIf="(description.dirty || description.touched) && description.errors && description.errors.required">
              Required field
            </mat-error>
        </mat-form-field>
        <br>

        <button mat-stroked-button type="submit" >Upload image</button>
      
    </form> -->

    
    

    <mat-form-field appearance="outline">
        <mat-label>Picture description</mat-label>
        <input matInput type="text" name="description" [(ngModel)]="picture.description" required #description="ngModel" />
        <mat-error *ngIf="(description.dirty || description.touched) && description.errors && description.errors.required">
          Required field
        </mat-error>
    </mat-form-field>
    <form [formGroup]="PictureForm" (ngSubmit)="onSubmit()">
        
        <mat-label>Image</mat-label><br>
        <input type="file" formControlName="TileImage" (change)="onSelectFile($event)" >
     
        <button mat-stroked-button type="submit" >Upload image</button>
      
    </form>
   <br><br>

  </form>
</div>

<div mat-dialog-actions class="pt-3" align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="!usersForm.form.valid">
    Save
  </button>
</div>
